.message-container {
  display: flex;
  gap: 10px;
  padding: 4px 0 4px 14px;
}

.message-container:hover {
  background-color: #212529;
}

.first-message-today {
  border-top: 1px solid #3d3d3e;
}

.date-container {
  position: absolute;
  width: calc(85vw - 60px);
  display: flex;
  justify-content: center;
}

.message-date {
  position: absolute;
  bottom: -8px;
  background-color: #181c20;
  padding: 4px 16px;
  font-size: 14px;
  color: #d1d2d3;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border: 1px solid #3d3d3e;
  border-radius: 4px;
}

.user-image {
  width: 36px;
  height: 36px;
  border-radius: 4px;
}

.text {
  margin: 4px 0 0 0;
  line-height: 20px;
  font-size: 15px;
  color: #d1d2d3;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.header {
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.username {
  color: #d1d2d3;
  font-size: 15px;
  font-weight: 700;
}

.timestamp {
  font-size: 12px;
  color: #ababad;
  font-weight: 300;
}
