.list-item-channel {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 100%;
  padding: 0px 10px;
  border-radius: 4px 4px 4px 4px;
}

.list-item-channel:hover {
  background: #262626;
  cursor: pointer;
}

.list-item-channel-active {
  background: #4c4c4c;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 100%;
  padding: 0px 10px;
  border-radius: 4px 4px 4px 4px;
}

.list-item-channel-name {
  margin: 5px 0px;
}
