.convo-menu {
  width: 450px;
  height: 400px;
}

.tabs-menu {
  padding-left: 12px;
  position: absolute;
  width: 470px;
  left: 0px;
  top: 60px;
  border-bottom: 1px solid #343639;
}

.menu-button {
  font-family: 'Lato', sans-serif;
  background-color: #1a1d21;
  color: #969698;
  border: none;
  padding: 8px 8px;
}

.menu-button:hover {
  color: #d1d2d3;
  cursor: pointer;
}

.members-count {
  padding-left: 4px;
  font-weight: 300;
}

.active-tab {
  color: #d1d2d3;
}

.content {
  padding-top: 48px;
}
