.home-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  max-height: calc(100vh - 56px);
}

.home-sidebar-content {
  padding-left: 8px;
  max-height: calc(100vh - 40px); /* important for scrolling do not remove*/
  overflow-y: auto;
}
