.header-container {
  display: flex;
  align-items: center;
  min-height: 56px;
  width: 100%;
  border-bottom: 1px solid #313132;
}

.channel-info {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 30px;
  width: max-content;
  margin-left: 18px;
}

.channel-info:hover {
  background-color: #212529;
  cursor: default;
  border-radius: 4px;
}

.name {
  font-family: 'Lato', sans-serif;
  color: #d1d2d3;
  font-size: 18px;
  margin: 0;
  padding-right: 8px;
}

.icon {
  padding: 6px 2px 0px 2px;
}
