.input {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 400px;
}

.channel-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 29px;
  left: 2px;
}

.channel-icon svg {
  width: 18px;
  height: 18px;
}

.char-counter {
  position: absolute;
  font-size: 18px;
  top: 34px;
  left: 368px;
  color: #757575;
}

.input-label {
  margin-bottom: 4px;
}

.input-field {
  font-size: 16px;
  height: 40px;
  background-color: #1a1d21;
  color: #d1d2d3;
  border: 1px solid #3d3d3e;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
}

.input-error-info {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: #e74c3c;
  max-width: 400px;
  min-height: 50px;
}

.input-description {
  max-width: 400px;
  min-height: 50px;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: #c4c4c7;
}

.input-error {
  border-color: #e74c3c;
  box-shadow: 0 0 10px rgba(231, 76, 60, 0.7);
}

.input-focused:not(.input-error) {
  border-color: #3f1c63;
  box-shadow: 0 0 10px rgba(63, 28, 99, 0.7);
}

.alert-icon {
  font-size: 16px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.create-channel-button {
  padding: 10px 0;
  width: 200px;
  font-family: 'Lato', sans-serif;
  background-color: #33174d;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 16px;
  color: #c4c4c7;
}

.create-channel-button:hover:not(:disabled) {
  cursor: pointer;
  background-color: #3f1c63;
}

.create-channel-button:disabled {
  background-color: #34373a;
  color: #aaabad;
}

.small-loader {
  position: absolute;
  top: 17px;
  left: 60px;
}
