.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #313132;
  border-radius: 4px 0 0 0;
  padding: 8px;
  margin-left: 9px;
  min-width: 180px;
}

.header-text {
  margin: 5px 0 5px 5px;
  font-weight: bold;
  font-family: 'Lato', sens-serif;
  font-weight: 700;
  font-size: 18px;
  color: #c4c4c7;
}

.header-icons {
  display: flex;
  gap: 16px;
  margin: 8px;
}
