.avatar-container {
  position: relative;
  width: 23px;
  height: 20px;
  overflow: hidden;
}

.avatar-image {
  width: 18px;
  height: 18px;
  object-fit: cover;
  border-radius: 4px;
}

.status-icon {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 10px;
  height: 10px;
}
