.login-container {
  font-family: 'Lato', sans-serif;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.flocka-logo {
  display: flex;
  align-items: center;
}

.flocka-logo svg {
  width: 56px;
  height: 56px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.logo-container svg {
  width: 560px;
  height: 560px;
}

.login-button {
  padding: 10px 0;
  width: 300px;
  font-family: 'Lato', sans-serif;
  background-color: #33174d;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #c4c4c7;
}

.login-button:hover {
  cursor: pointer;
  background-color: #3f1c63;
}

.app-name {
  font-size: 36px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #c4c4c7;
  margin: 10px 0;
}

.slogan {
  width: 530px;
  font-size: 40px;
  font-weight: 600;
  color: #c4c4c7;
  margin-top: 16px;
  margin-bottom: 32px;
}

.login-description {
  width: 530px;
  font-size: 12px;
  font-weight: 300;
  color: #d1d2d3;
}
