.home-view-container {
  background-color: #141416;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 2px;
}

.home-view {
  display: flex;
  border: 1px solid #3d3d3e;
  border-radius: 4px 4px 4px 4px;
  min-height: calc(100vh - 45px);
  min-width: calc(100vw - 80px);
}

.home-main {
  flex: 1;
  background-color: #1a1d21;
  border-left: 1px solid #3d3d3e;
}
