.home-sidebar {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.home-sidebar-content {
  margin-left: 20px;
  max-height: calc(100vh - 50px); /* important for scrolling do not remove*/
  overflow-y: auto;
}
